* {
    color: #1B1C21;
}

.rectangle {
    box-shadow: 16px 0px 52px black;
    width: 320px;
    float: left;
}

.ic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  height: 40px;
  width: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  border: none;
}

.repair {
  display: flex;
  flex-direction: row;
}

.highlight {
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  margin-top: 30px;
}

.equipment {
  color: #7E7E82;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 24px;
  padding-top: 30px;
}

.main {
  font-size: 24px;
  margin-left: 20px;
}

.buttons {
  margin-top: 100px;
  margin-left: 20px;
}

.email{
  font-size: 24px;
}

.phone {
  font-size: 32px;
}

.lang {
  display: flex;
  font-size: 24px;
}

.copy {
  margin-right: 10px;
}

.profile {
  margin-right: 10px;
}

.email {
    margin-left: 20px;
}

.phone {
    margin-left: 20px;
}

.ru {
    margin-left: 10px;
  margin-right: 10px;
  color: #7E7E82;
}

.en {
  margin-right: 10px;
}
